body {
    margin: 0px;
    padding: 0px;
    z-index:0;
}
a {
    text-decoration:none;
}
a img {
    border: none;
}

.masterBoxMax {
    width: 1042px;
    margin: 0px auto;
}


/*图片轮播*/
.indexBanner {
    margin: 0px auto;
}

    .indexBanner .indexB_ul li {
        width: 1042px;
    }

        .indexBanner .indexB_ul li a {
            border-radius: 10px 10px 10px 10px;
            width: 1042px;
            height: 360px;
            display: block;
            background-position: center top;
            background-repeat: no-repeat;
            margin-left: -40px;
        }

.indexBannerView {
    width: 1042px;
    height: 360px;
    /*float: left;*/
    position: relative;
}

    .indexBannerView .indexB_ul {
        width: 1042px;
        height: 360px;
        overflow: hidden;
    }

.indexBControls {
    position: absolute;
    width: 1042px;
    height: 0px;
    bottom: 30px;
    right: 50%;
    margin-right: -521px;
    text-align: right;
    font-size: 0px;
}

.indexBControls {
    position: absolute;
    width: 1042px;
    height: 0px;
    bottom: 30px;
    right: 50%;
    margin-right: -521px;
    text-align: right;
    font-size: 0px;
}

.indexBPageitem.cur {
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*左右下一张按钮*/
.indexBPage {
    position: absolute;
    width: 1042px;
    height: 0px;
    left: 50%;
    margin-left: -521px;
    top: 150px;
}

    /*.indexBPage > .pre {
        background-position: 0px 0px;
        left: 0px;
    }*/

    .indexBPage > .next {
        background-position: 0px -51px;
        right: 0px;
    }

    .indexBPage > a {
        /*filter: alpha(opacity=40);    opacity: 0.4;*/
        /*background-image: url(../Content/Images/IndexImg/lrs.png);*/
        /*background-position-x: 0%;
    background-position-y: 0%;*/
        /*background-color:#808080;*/
        width: 39px;
        height: 51px;
        position: absolute;
    }

        .indexBPage > a > img {
            width: 39px;
            height: 51px;
        }



/*-----首页子导航栏-----*/
/*大框div*/
.siteHNavIndex {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.siteHNavInner {
    margin: 0px auto;
    width: 1024px;
    height: 30px;
    line-height: 25px;
    text-align: center;
}

    .siteHNavInner a {
        font-size: 12px;
        margin-left: 20px;
    }

        .siteHNavInner a:hover {
            font-size: 12px;
            margin-left: 20px;
            color: red;
        }


.RepeaterBoxMaster {
    height:100%;
}
/*首页主题部分，显示图片列表Repeater1*/
.RepeaterBox {
    /*height: 300px;*/
    margin: 0px auto;
    margin-left: -14px;
}
.RepeaterTitle {
    margin:0px auto;
    padding-left:20px;
    width:700px;
    text-align:center;
}
    .RepeaterTitle a:hover {
        color:#244fdb;
    }

.RepeaterItemBox {
    /*height:100px;*/
    width: 100%;
    margin: 0px auto;
    /*margin-top: 20px;*/
}

.SupportNumber {
    width: 40px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px 20px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 10px;
    left: 190px;
    /*position:relative;*/
    background-color: white;
}
/*心形图标，支持人数*/
.SupportHeart {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    background-image: url(/Content/Images/publicImg/SupportHeart.jpg);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;
}

    /*.SupportHeart:hover {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0px;
        left: 0px;
        background-image: url(/Content/Images/publicImg/SupportHearts.jpg);
        background-repeat: no-repeat;
        background-position-x: 5px;
        background-position-y: 4px;
    }*/


    .SupportHeart img {
        border: none;
        width: 13px;
    }
/*.SupportHeart{position:relative;width:10px;height:10px;background-color:red;border-radius:3px;transform:rotate(45deg);margin-left:8px;margin-top:7px;}
.SupportHeart:before{content:'';position:absolute;width:10px;height:10px;background-color:red;border-radius:50%;top:0px;left:-5px;}
.SupportHeart:after{position:absolute;width:10px;height:10px;content:'';background-color:red;border-radius:50%;left:0px;top:-5px;}*/


/*项目图片*/
.RepeaterItmeImg {
    width: 248px;
    float: left;
    margin-left: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 10px 10px;
    position: relative;
}

    .RepeaterItmeImg img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


/*项目概述样式*/
.indCardICBox {
    margin: 0px auto;
    width: 230px;
    height: 158px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*项目概述样式*/
.indCardICText {
}
/*项目目标样式*/
.siteCardIC_p {
    font-size: 12px;
    color: #808080;
}
/*项目名称a标签*/
.siteCardICH3 {
    height:40px;
    width:240px;
    display:block;
    font-size:15px;
    color:#000000;
}

/*项目进度条背景灰色条*/
.siteCardRatio {
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 20px 20px;
}
/*项目红色实时进度条*/
.siteCardRatioInner {
    height: 5px;
    background-color: red;
    border-radius: 20px 20px;
}

/*众筹筹款情况*/
.siteCardFData {
    font-size: 12px;
    text-align: center;
    color: #808080;
}
/*已达*/
.ydDiv {
    width: 40px;
    height: 30px;
    float: left;
}
/*已筹款*/
.ycDiv {
    float: left;
    margin-left: 55px;
}
/*剩余时间*/
.sjDiv {
    float: right;
}

.ftP {
    color: #070606;
}

/*查看更能多*/
.tableMoreTd {
    width:1032px;
    height:40px;
    background-color:#d0cbcb;
    border-radius:10px;
    cursor:pointer;
}
.tableMoreTd:hover {
    background-color:#a49d9d;
}





